################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-Ticaret/.vs/E-Ticaret/v15
