
@{
    ViewBag.Title = "ExtendedTables";
}

<div class="main-panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#extendedtables">Extended Tables</a>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left navbar-search-form" role="search">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" value="" class="form-control" placeholder="Search...">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#stats" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
                            <i class="ti-panel"></i>
                            <p>Stats</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
                            <i class="ti-bell"></i>
                            <span class="notification">5</span>
                            <p class="hidden-md hidden-lg">
                                Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#not1">Notification 1</a></li>
                            <li><a href="#not2">Notification 2</a></li>
                            <li><a href="#not3">Notification 3</a></li>
                            <li><a href="#not4">Notification 4</a></li>
                            <li><a href="#another">Another notification</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#settings" class="btn-rotate">
                            <i class="ti-settings"></i>
                            <p class="hidden-md hidden-lg">
                                Settings
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Table with Links</h4>
                            <p class="category">Here is a subtitle for this table</p>
                        </div>
                        <div class="card-content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Job Position</th>
                                        <th class="text-right">Salary</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Andrew Mike</td>
                                        <td>Develop</td>
                                        <td class="text-right">&euro; 99,225</td>
                                        <td class="td-actions text-right">
                                            <a href="#" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-user"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>John Doe</td>
                                        <td>Design</td>
                                        <td class="text-right">&euro; 89,241</td>
                                        <td class="td-actions text-right">
                                            <a href="#" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-user"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Alex Mike</td>
                                        <td>Design</td>
                                        <td class="text-right">&euro; 92,144</td>
                                        <td class="td-actions text-right">
                                            <a href="#" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-user"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Mike Monday</td>
                                        <td>Marketing</td>
                                        <td class="text-right">&euro; 49,990</td>
                                        <td class="td-actions text-right">
                                            <a href="#" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-user"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>Paul Dickens</td>
                                        <td>Communication</td>
                                        <td class="text-right">&euro; 69,201</td>
                                        <td class="td-actions text-right">
                                            <a href="#" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-user"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Table with Switches</h4>
                            <p class="category">With some subtitle</p>
                        </div>
                        <div class="card-content table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Job Position</th>
                                        <th class="text-right">Salary</th>
                                        <th class="text-right">Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Andrew Mike</td>
                                        <td>Develop</td>
                                        <td class="text-right">&euro; 99,225</td>
                                        <td class="text-right">
                                            <input type="checkbox" class="switch-plain">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>John Doe</td>
                                        <td>Design</td>
                                        <td class="text-right">&euro; 89,241</td>
                                        <td class="text-right">
                                            <input type="checkbox" class="switch-plain">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Alex Mike</td>
                                        <td>Design</td>
                                        <td class="text-right">&euro; 92,144</td>
                                        <td class="text-right">
                                            <input type="checkbox" class="switch-plain" checked>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Mike Monday</td>
                                        <td>Marketing</td>
                                        <td class="text-right">&euro; 49,990</td>
                                        <td class="text-right">
                                            <input type="checkbox" class="switch-plain" checked>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Table Big Boy</h4>
                            <p class="category">A table for content management</p>
                            <br />
                        </div>
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th></th>
                                        <th class="text-right">Price</th>
                                        <th class="text-right">Quantity</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/tables/agenda.png" alt="Agenda">
                                            </div>
                                        </td>
                                        <td class="td-product">
                                            <strong>Get Shit Done Notebook</strong>
                                            <p>
                                                Most beautiful agenda for the office.
                                            </p>
                                        </td>
                                        <td class="td-price">
                                            <small>&euro;</small>49
                                        </td>
                                        <td class="td-number td-quantity">
                                            1
                                            <div class="btn-group">
                                                <button class="btn btn-sm"><i class="ti-minus"></i></button>
                                                <button class="btn btn-sm"><i class="ti-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="td-number">
                                            <small>&euro;</small>49
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/tables/stylus.jpg" alt="Stylus" />
                                            </div>
                                        </td>
                                        <td class="td-product">
                                            <strong>Stylus</strong>
                                            <p>Design is not just what it looks like and feels like. Design is how it works.  </p>
                                        </td>
                                        <td class="td-price">
                                            <small>&euro;</small>499
                                        </td>
                                        <td class="td-number td-quantity">
                                            2
                                            <div class="btn-group">
                                                <button class="btn btn-sm"><i class="ti-minus"></i></button>
                                                <button class="btn btn-sm"><i class="ti-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="td-number">
                                            <small>&euro;</small>998
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../../assets/img/tables/evernote.png" alt="Evernote">
                                            </div>
                                        </td>
                                        <td class="td-product">
                                            <strong>Evernote iPad Stander</strong>
                                            <p>A groundbreaking Retina display. All-flash architecture. Fourth-generation Intel processors.</p>
                                        </td>
                                        <td class="td-price">
                                            <small>&euro;</small>799
                                        </td>
                                        <td class="td-number td-quantity">
                                            1
                                            <div class="btn-group">
                                                <button class="btn btn-sm"><i class="ti-minus"></i></button>
                                                <button class="btn btn-sm"><i class="ti-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="td-number">
                                            <small>&euro;</small>799
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td></td>
                                        <td class="td-total">
                                            Total
                                        </td>
                                        <td class="td-total">
                                            <small>&euro;</small>12,999
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
            </div>
        </div>
    </footer>
</div>

